@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Signika:wght@400;600;700&display=swap');

// Body font
$global-font-family: 'Heebo', sans-serif;
$global-font-size: 16px;

// Header title font
$header-title-font-family: 'Signika', sans-serif;
$header-title-font-size: 1.5rem;